[Desktop Entry]
Type=Application
Name=open-lux
GenericName=Automatic Monitor Brightness
Comment=Match your monitors' brightness to the light in the room
Exec=openlux
Icon=openlux
Terminal=false
Categories=Utility;Settings;HardwareSettings;
Keywords=brightness;monitor;ambient;light;ddc;
StartupNotify=false
